ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: orange;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.content {
    padding: 14px 120px;
    text-align: center;
    background-color: rgba(255, 212, 132, 0.671);
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}